In [1]:
import pandas as pd

In [7]:
data = pd.read_csv('State_tam_1.csv')
data

                                                state  Turn_to_win
0   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...          NaN
1   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...          NaN
2   [0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, ...          NaN
3   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, ...          NaN
4   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, ...          NaN
5   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
6   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
7   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
8   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
9   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
10  [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
11  [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
12  [0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
13  [0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
14  [0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
15  [1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
16  [1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
17  [1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
18  [1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...          NaN
19  [1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, ...          NaN

In [9]:
data = data.iloc[::-1].reset_index(drop = True)
data['Turn_to_win'] = data.index
data

                                                state  Turn_to_win
0   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...            0
1   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...            1
2   [0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, ...            2
3   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, ...            3
4   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, ...            4
5   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...            5
6   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...            6
7   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...            7
8   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...            8
9   [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...            9
10  [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...           10
11  [0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...           11
12  [0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...           12
13  [0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...           13
14  [0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...           14
15  [1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...           15
16  [1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...           16
17  [1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...           17
18  [1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, ...           18
19  [1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, ...           19